
<footer>
	<div id="footer">
		<center>
		<table>
			<tr>
				<td>
					<%= image_tag("rails.png", :alt => "rss feed", :width => "40x40") %>
				</td>
				<td style="padding-left:20px;font-weight:bold">
				</td>
			</tr>
		</table>
		</center>	
	</div>
</footer>
