<footer>
	<div id="footer">
		<table style="width:100%">
			<tr>
				<td style="width:20%">
					<%= image_tag("rails.png", :alt => "rss feed", :width => "80x80") %>
				</td>
				<td style="width:80%; text-align:center">					Ruby on Rails Sample App
					<br> Hoang Minh Tuan
				</td>
			</tr>
		</table>	
	</div>
</footer>