
<footer>
	<div id="footer" align="right">
		<!-- <center> -->
		<table>
			<tr>
				<td>
					<%= image_tag("python.png", :alt => "rss feed", :width => "20x20") %>
				</td>
				<td style="padding-left:20px;font-weight:bold">Developed by Hoang Minh Tuan
				</td>
			</tr>
		</table>
		<!-- </center>	 -->
	</div>
</footer>
